import math

fee = 0.0
fee_1_to_60_min = 5.0
fee_61_to_300_min = 4.0
fee_over_300_min = 2.0
min_parked = int(input(" Please enter number of minutes parked..."))

if 0 < min_parked and min_parked <= 60:
    fee = fee_1_to_60_min
    print("Parking fee for ", min_parked, " minutes is $", fee)

elif 60 < min_parked <= 300:
    fee = math.ceil(min_parked /60) * fee_61_to_300_min  # this is just a formula for the parking equation
    print('we are in table 2 fee is ', fee)
elif min_parked > 300:
    fee = math.ceil(min_parked / 60) * fee_over_300_min
    print('we are in table 3 fee == ', fee)
else:
    print("error or zero negative minutes", min_parked)
